.col-dos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-dos img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.col-dos img{
  min-width: 400px;
  height: auto;
}